body
{
    background-color: tan;
    font-size: 15px;
/*    margin-left: 50px;*/
}

#header
{
    padding: 2%;

}

#header .today
{
    text-align: right;
}

#menu
{
    float: left;

}

#menu ul
{
    list-style-type: none;
    padding-left: 0;

}

#menu a
{
    text-decoration: none;
    background-color: red;
    color: white;
    display: block;
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}

#menu a.current_page
{
    background-color: green;
    margin-left: 30px;
}

#menu a:hover
{
    background-color: gray;
    margin-left: 30px;

}

#content
{
    background-color: gray;
    color: white;
    height: auto;
    display: inline-block;
    padding: 2%;
    border-radius: 10px;
    margin-right: 1%;
}

#content p
{
    text-align: justify;
}