body
{
    background-color: burlywood;
/*    margin-left: 50px;*/
}

#menu
{
    float: left;
}

#menu ul
{
    list-style-type: none;
    padding-left: 0;
    width: 155px;
}

#menu a
{
    text-decoration: none;
    background-color: red;
    color: white;
    display: block;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

#menu a:hover
{
    background-color: gray;
    margin-left: 30px;

}

#content
{
    padding-top: 25px;

}