body
{
    background-image: url("../../img/80.png");
    color: whitesmoke;
}

#header
{
    background-color: green;
    color: whitesmoke;
    text-align: center;
}

#header h1
{
    padding: 2%;
}

#top_menu
{
    background-color: darkslategray;
    color: whitesmoke;

}

.loged
{
    padding: 0.7%;

}

.logo
{
    margin: 20px 0;
}

.menu a
{
    color: whitesmoke;
    background-image: url("../../img/links.png");
    text-decoration: none;
    padding: 1%;
    display: block;
    float: left;
    margin-left: 2px;
}

.menu a:hover
{
    background-image: url("../../img/links_hover.png");
    transition-duration: 1s;
    margin-left: 1%;
}

#pagelist
{
    border-collapse: collapse;
    border: 1px solid black;
}
#pagelist td
{
    padding: 10px;
    border-bottom: 1px solid black;
}

#pagelist td a
{
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: block;
}



#pagelist .table_header td
{
    background-color: blue;
    color: white;
}